<mat-card>
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="task-form">
      <mat-form-field appearance="fill" class="task-input">
        <mat-label>Task Title</mat-label>
        <input matInput formControlName="title" placeholder="Enter task title" required>
        <mat-error *ngIf="taskForm.get('title')?.hasError('required')">
          Task Title is required
        </mat-error>
        <mat-error *ngIf="taskForm.get('title')?.hasError('maxlength')">
          Task Title cannot exceed 100 characters
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="task-input">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" placeholder="Enter task description" required></textarea>
        <mat-error *ngIf="taskForm.get('description')?.hasError('required')">
          Description is required
        </mat-error>
        <mat-error *ngIf="taskForm.get('description')?.hasError('maxlength')">
          Description cannot exceed 500 characters
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="task-input">
        <mat-label>Due Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dueDate" [min]="minDate" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="taskForm.get('dueDate')?.hasError('required')">
          Due Date is required
        </mat-error>
        <mat-error *ngIf="taskForm.get('dueDate')?.hasError('invalidDate')">
          Due Date must be in the future
        </mat-error>
      </mat-form-field>

      <div class="button-group"> 
        <button mat-raised-button color="primary" type="submit" [disabled]="taskForm.invalid">
            {{ selectedTask ? 'Update Task' : 'Add Task' }}
          </button>
          <button mat-stroked-button color="warn" type="button" (click)="resetForm()">
            Reset Form
          </button>
      </div>
      
    </form>
  </mat-card>